.project {
	min-height: 350px;
	padding: 30px 50px;
	background-size: cover;
	background-color: #F8F8F8;
}

.project .description {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;

}

.project .parent_slider {
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}