.worked_item {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 4px 5px 20px 5px #5317552b;
    width: 236.8px;
    border-color: #ffffff0a;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
}

.worked_item .logo {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.worked_item .description {
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
}

.worked_item .link {
    color: #fff;
    font-weight: 700;
    font-family: 'Royce-Semibold';
}