.header {
  height: 92px;
  background: rgba(255, 255, 255, 0.05);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #320b82f0 !important;
  box-shadow: 4px 4px 20px 1px rgb(50 11 130 / 41%);
}
.header .logo {
  width: 32px;
}
